<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.googlephotos.mappers.UserMapper"> 
	<insert id="insert">
  		insert into user(uid, uname, uemail, uphone, upassword, upath)
		values (#{uid},#{uname},#{uemail},#{uphone},#{upassword}, #{upath})
  	</insert>
 	<select id="selectUserByUno" resultType="userVO">
 		select * from user where uno = #{uno}
 	</select>
 	<select id="selectUserByInfo" resultType="userVO">
 		select * from user where uid = #{uid} and upassword =#{upassword}
 	</select>
 	<update id="updateUpath">
 		update user set upath=#{uapth} where uno=#{uno}
 	</update>
 	<select id="login" resultType="UserVO">
		select * from user where uid = #{uid} and upassword = #{upassword}
	</select>
	<select id="searchId" resultType="int">
		select count(uid) from user where uid=#{uid}
	</select>
</mapper>